<!-- Fixed navbar -->
<header>
  <div class="pos-f-t">
      <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top iotnavbar">
            <div class="container">

                <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                    <a class="navbar-brand iotnav-item" href="/home">Do IoT Yourself</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link iotnav-item" href="/login">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link iotnav-item" href="/signup">회원가입</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link iotnav-item" href="/profile">내 정보</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
      </div>

  </div>
  <br>
  <br>
  <br>

</header>

<!-- Fixed navbar -->
