<!-- Fixed navbar -->
<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container bg-inverse p-a-1">
            <h3>Collapsed content</h3>
            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>

    <div class="navbar-wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">

              <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                  <a class="navbar-brand" href="/home">Do IoT Yourself</a>
                  <ul class="nav navbar-nav navbar-right">
                      <li class="nav-item">
                          <a class="nav-link" href="/login">로그인</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/signup">회원가입</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/profile">내 정보</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
    </div>

</div>
<!-- Fixed navbar -->
