<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      Do IoT Yourself
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/introstyle.css">
  </head>
  <body>
    <div class = "site-wrapper">
      <div class = "site-wrapper-inner">
        <div class= "cover-container">

          <div class="inner cover">
            <h1 id = "heading" class="cover-heading"><%= title %></h1>
            <br><br>
            <p id = "content" class="lead">< Do IOT Yourself > 는 일반인이 코드지식없이<br> iot 이벤트를 생성할 수 있는 DIY개념의 iot 플랫폼입니다. <br>유저는 플랫폼을 통해 맞춤형 스마트홈 환경을 가꿀 수 있습니다.</p>
            <p class="lead"><a href="/home" class="btn btn-lg btn-primary">시작하기</a></p>
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>&copy Chung-Ang University, Always On</p>
            </div>
          </div>


        </div>
      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>

</html>
