<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      Do IoT Yourself
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/introstyle.css">
  </head>
  <body>
    <div class = "site-wrapper">
      <div class = "site-wrapper-inner">
        <div class= "cover-container">

          <div class="inner cover">
            <h1 id = "heading" class="cover-heading"><%= title %></h1>
            <br><br>
            <p id = "content" class="lead">저희 서비스는 일반인들이 쉽게 Event와 그에 따른 Action을 연결하므로써<br> 유저 맞춤형 IOT 서비스를 제공하는 플렛폼을 제공합니다.</p>
            <p class="lead"><a href="/home" class="btn btn-lg btn-primary">시작하기</a></p>
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>&copy Chung-Ang University, Always On</p>
            </div>
          </div>


        </div>
      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>

</html>
